In [1]:
import pandas as pd

In [2]:
df = pd.read_json('edgesCleanWithCoordinates.json')

In [3]:
df

,type,weight,source,target,sourceX,sourceY,targetX,targetY
0,ownership,0.900140,Spanish Shrimp Carriers,12744,1088,105,1095,147
1,partnership,0.845897,Spanish Shrimp Carriers,21323516,1088,105,219,763
2,partnership,0.964876,Spanish Shrimp Carriers,290834957,1088,105,1185,695
3,ownership,0.964213,Spanish Shrimp Carriers,3506021,1088,105,1308,280
4,family_relationship,0.823486,Spanish Shrimp Carriers,Conventionâ,1088,105,1266,815
...,...,...,...,...,...,...,...,...
11064,family_relationship,0.817772,Ocano del Este SE,Mary Clements,1297,643,150,102
11065,partnership,0.873537,Norwegian Shrimp N.V. -,67261634,48,480,373,756
11066,partnership,0.849333,Norwegian Shrimp N.V. -,344,48,480,136,858
11067,membership,0.814217,Malabar Sea Catch Sp,672,1381,356,322,294
11068,membership,0.823890,Malabar Sea Catch Sp,449820,1381,356,522,63

In [7]:
len(list(df["source"].unique()))

2320